.tabulardiv{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    overflow: hidden;
    height: 50%;
    display: flex;
    flex-direction: column;

    .header {
        background-color: #f5f5f5;
        font-weight: bold;
        height: 30px;
        flex-shrink: 0;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        color: black;
        border-top: 1px solid #ccc; 
        border-bottom: 1px solid #ccc;
        border-radius: 0;

        .results-summary {
            font-size: 12px;
            font-weight: 500;
            color: #05322b;
            margin-bottom: 10px;
            align-items: center;
            text-align: center;
            margin-top: 12px;
            margin-left: 30px;
          } 
          
          .nav-actions {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-left: auto;
            font-size: 14px;
            
          
            .nav-btn {
                background-color: transparent;
                border: none;
                font-size: 16px;
                color: #333;
                cursor: pointer;
                padding: 6px 12px;
                // font-family: 'MyFont', sans-serif;
                font-weight: bold;
                transition: background 0.2s;
            }
            // .search-input {
            //     flex: 1; /* auto-grow */
            //     padding: 6px 10px;
            //     align-items: center;
            //     margin-bottom: 10px;
            //     margin-left: 20px;
            //     font-size: 14px;
            //     margin-top: 10px;
            //     border-radius: 16px;
            //     border: 1px solid #ccc;
            //     transition: border-color 0.2s ease;
            //     height: 30px;
            //     &:focus {
            //       border-color: #999; 
            //       box-shadow: 0 0 0 1px #ccc;
            //     }
            //   }
            .search-box {
              display: flex;
              align-items: center;
              border: 1px solid #ccc;
              border-radius: 16px;
              padding: 0 10px;
              height: 30px;
              margin-right: 5px;
              max-width: 250px;
              background-color: #fff;

              &:focus-within {
                border-color: #999;
                box-shadow: 0 0 0 1px #ccc;
              }
            }

          .search-input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 14px;
            padding: 6px 8px;
            background: transparent;
          }

          .search-icon {
            color: black;
            font-size: 20px;
            cursor: default;
          }


             .icon {
              font-size: 24px;
              cursor: pointer;
              color: white; 
          
              &:hover {
                color: #ddd;
              }
            }
          }
          
  
      }     
      
      kendo-grid {
        width: 100%;
        overflow: hidden;
        overflow-x: auto; 
        overflow-y: auto;
       
      }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        font-size: 18px;
        color: #212121;
        cursor: pointer;
        margin-right: 10px;
    }


    .tabulardiv:-webkit-full-screen {
        width: 100vw;
        height: 100vh;
      }
      
      .tabulardiv:fullscreen {
        width: 100vw;
        height: 100vh;
      }


.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .filter-icon {
    background: none;
    border: none;
    cursor: pointer;
  }

.filter-box {
  position: absolute;
  top: 100%;               /* Immediately below header */
  right: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 6px;
  z-index: 10;            /* Ensure it appears above other elements */
  display: block;
}


.k-grid-header {
  overflow: visible !important; // Allow overflow inside the header
}

}




}

::ng-deep.k-pager-info {
    text-align: end;
    margin-right: 10px !important;
    justify-content: flex-end;
    flex: 1 1 0%;
    order: 9;
}

  