<div class="tabulardiv">
  <div class="header">
    <span>Activities</span>
    <span class="results-summary">Results : {{ispoData.length}}</span>
    <div class="nav-actions">
      <input
        class="search-input"
        type="text"
        [formControl]="searchControl"
        placeholder="Search in all columns"
      />

      <span class="material-symbols-outlined">settings</span>

      <span class="material-symbols-outlined" (click)="toggleFullscreen()">
        {{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}
      </span>
    </div>
  </div>

   @if (loading) {
    <kendo-loader
      [size]="'large'"
      [themeColor]="'primary'"
      [type]="'infinite-spinner'"
      style="display: flex; justify-content: center; margin: 20px; height: 400px; color : #147d64">
    </kendo-loader>
  } @else {

  <kendo-grid
  [data]="pagedData"
  [height]="isFullscreen ? 900 : 350"
  scrollable="scrollable"
  [sortable]="true"
  [pageable]="true"
  [skip]="skip"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"   
    
  >
    <kendo-grid-column field="name" title="Name" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="username" title="Username" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email" [width]="200"></kendo-grid-column>
    <kendo-grid-column field="website" title="Website" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="address.street" title="Street" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="address.city" title="City" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="address.zipcode" title="Zipcode" [width]="120"></kendo-grid-column>
  </kendo-grid>

}
</div>
