  <div class="kendo-expandable-panel">
    <div class="k-panel-header">
      <span class="title">{{ title }}</span>

      <div class="nav-items">

      <span class="clrfilter" (click) = "clearFilters()">
        Clear Filter
      </span>
  
      <span class="more">
        ...
      </span>

      <span class="material-symbols-outlined"  (click)="togglePanel()">
        {{ isExpanded() ?  'keyboard_arrow_down' : 'keyboard_arrow_up' }}
      </span>
    </div>
    </div>
  
    @if (isExpanded()) {
      <div class="k-panel-content">

        <div class="dropdown-wrapper">
  <div *ngFor="let filter of filters" class="dropdown-item">
    <label class="dropdown-label">{{ filter.label }}</label>
    <kendo-dropdownlist
      
      [data]="filter.data"
      [formControl]="filter.control"
      [textField]="'text'"
      [valueField]="'value'"
      [popupSettings]="{ appendTo: 'root' }"
      (valueChange)="onSelectionChnage($event,'data')"
     
      >
    </kendo-dropdownlist>
  </div>
</div>
          
          <div class="filterbtn">
            @for (btn of buttons; track $index){
                <button kendoButton 
                [ngClass]="{ 'active-tab': activeTab === btn.value }"
                (click)="setActiveTab(btn.value)"
                class="btndisplay"> {{ btn.label }} ({{ btn.count }})</button>
            }

          </div>


          <div class="fwbtn">
            <button 
                kendoButton 
                class="btndisplay">  < </button>
            @for (fwbtn of fwbuttons; track $index){
                <button 
                kendoButton 
                class="two-line-display"
                [ngClass]="{ 'active-tab': activefwtab === fwbtn.value }">
                <div class="line1">{{ fwbtn.label }}</div>
                <div class="line2">{{ fwbtn.subtext }}</div>
              </button>           
            }
            <button 
            kendoButton 
            class="btndisplay">  > </button>
          </div>

          


        </div>
    }
  </div>
  