.maincontentheader {
    .header {
      display: flex;
      justify-content: space-between; // key to push nav-actions to the right
      align-items: center;
  
      .module {
        .module-name {
          font-size: 22px;
          font-weight: 600;
          color: #333;
        }
      }
  
      .nav-actions {
        display: flex;
        align-items: center;
        gap: 16px;

        .label{
            font-size: 12px;
        }

        .percentage-circle {
            .circle {
              --percentage: 75; // default if not bound
              $size: 35px;        
              width: $size;
              height: $size;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background:
                conic-gradient(
                    #02A783 calc(var(--percentage) * 1%), 
                  #e0e0e0 0
                );
          
              .value {
                position: relative; /* keep above ::before */
                z-index: 2;
                font-size: 14px;
                color: #000;
                background-color:#ecf0f1;
                border-radius: 50%;
              }
            }
          }
          
  
        .datedisplay {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 4px;
          
            .label {
              color: #000000; // Black for the label
            }
          
            .date {
              color: #02A783; // Aqua for the date
              font-weight: 500;
            }
          }
          
  
        .divider {
          color: #ccc;
          font-size: 16px;
        }
  
        .icon {
          font-family: 'Material Icons';
          font-size: 20px;
          color: #666;
        }
  
        .nav-btn {
          padding: 6px 12px;
          background-color: #147D64;
          color: #fff;
          border: none;
          border-radius: 4px;
          font-size: 14px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #1565c0;
          }
        }
      }
    }
  }
  